# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy==1.26.4
pandas==2.2.2
requests==2.32.3
sec-api==1.0.20
setuptools==72.1.0